<navbar></navbar>

<div class="container pt-100 mb-5">
    <div class="row">
      <div class="col-md-3">

        <cart-summary></cart-summary>
       <category-list (categorys)="getCategory($event)"></category-list>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning">
              {{seletedRooms.length}} tane ürün bulunur.
            </div>
          </div>
          <room-list [rooms]="rooms"></room-list>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="btn-group">
                <button *ngFor="let page of pageNumber"
                (click)="changePage(page)"
                class="btn btn-outline-primary"
                [class.active]="page==selectedPage" >
              {{ page }}</button>
              </div>
            </div>
          </div>
    </div>
</div>
